<% layout("/layouts/boilerplate") %>
  <body class="show-page-bg">
    <div class="row mt-3 offset-3">
      <div class="col-8 show-page">
        <h3><%= cafeInfo.title %></h3>
      </div>
      <div class="col-md-10 col-lg-8 col-sm-12 show-page">
        <div class="card listing-card">
          <img class="card-img-top show-img" src=<%= cafeInfo.image.url %> alt="cardimg">
          <div class="card-body">
            <p class="card-text"> Owned by <b><%= cafeInfo.owner.username %></b></p>
            <p class="card-text"> <%= cafeInfo.description %></p>
            <p class="card-text"><i class="fa-solid fa-phone"></i> <%= cafeInfo.phone %></p>
            <p class="card-text">cafe location: <%= cafeInfo.location %></p> 
            <p class="card-text">country: <%= cafeInfo.country %></p>  
          </div>
        </div>
      </div>
    </div>

    <div class="col-8 offset-3" >
      <hr>
      <% if(currUser) {%>
      <h4>Leave a comment</h4>
      <form action="/caves/<%= cafeInfo._id %>/reviews" method="POST" novalidate class="needs-validation">
        <div class="mb-3 mt-3">
          <label for="rating" class="form-label">Rating</label>
          <fieldset class="starability-slot">
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
        <div class="mb-3 mt-3">
          <label for="comment" class="form-label">Comments</label>
          <textarea name="review[comment]" placeholder="Add a comment" id="comment" cols="30" rows="5" class="form-control" required></textarea>
          <div class="invalid-feedback">Please add some comments for review!</div>
        </div>
        
        <button class="btn btn-outline-dark mb-3">Submit</button>
        
      </form>
      <hr>
      <%}%>

      <% if(cafeInfo.reviews.length>0){%>
        <div class="row">
          <p><b>All reviews</b></p>
          <% for(review of cafeInfo.reviews){ %>
            <div class="card review-card col-3 ms-3 mb-3">
              <div class="card-body">
                <h5 class="card-title">@<%= review.author.username %></h5>
                <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
                <p class="cart-text"><%= review.comment %></p>

                <form action="/caves/<%= cafeInfo._id%>/reviews/<%= review._id%>?_method=DELETE" class="mb-3" method="POST">
                  <button class="btn btn-sm btn-dark">Delete</button>
                </form>
              </div>
            </div>
          <% } %>
        </div>
        <%}%>
    </div>
  </body>
